canvas {
    display:block;
    background: rgb(33,36,50);
    position: fixed;
    z-index: -1;
}


.main-head {
  grid-area: header;
  color: powderblue;
}

.main-nav {
  padding: 10px;
  grid-area: nav;
  border-bottom: 1px solid powderblue;
}

.info {
  padding: 10px;
  grid-area: info;
}

/*.travels {
  padding: 10px;
  grid-area: travels;
}

.projects {
  padding: 10px;
  grid-area: projects;
}*/

.listing {
  padding: 10px;
  list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 2fr;
  background-color: #E8E3E1;
}

.listing li {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.listing .cta {
  margin-top: auto;
  border-top: 1px solid black;
  padding: 10px;
  text-align: center;
  max-height: 60px;
  font-size: small;
}

.listing .body {
  border-top: 1px solid black;
  padding: 10px;
}

.main-footer {
  grid-area: footer;
}

.wrapper {
  padding: 0;
  background-color: #FCFDFF;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "info"
    "listing"
    "footer";
}

@media (min-width: 500px) {
  /*.wrapper {
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      "header     header"
      "nav        nav"
      "info       info"
      "listing    listing"
      "site-three site-four"
      "footer     footer";
  }*/
  nav ul {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.nav-list {
  list-style: none;
}

.travel-container {
  height: 100%;
  width: 100%;
}

.pic-container {
  height: 100%;
  width: 100%;
}

