
.listing {
  padding: 10px;
  list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 2fr;
}

.listing li {
  border: 1px solid #ffe066;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.listing .cta {
  margin-top: auto;
  border-top: 1px solid #ffe066;
  padding: 10px;
  text-align: center;
}

.listing .body {
  border-top: 1px solid #ffe066;
  padding: 10px;
}

.pic-container {
  height: 100%;
  width: 100%;
}

.main-head {
  grid-area: header;
}

.main-nav {
  grid-area: nav;
}

.info {
  grid-area: info;
}

/*.site-one {
  grid-area: site-one;
}

.site-two {
  grid-area: site-two;
}

.site-three {
  grid-area: site-three;
}

.site-four {
  grid-area: site-four;
}*/

.main-footer {
  grid-area: footer;
}

.wrapper {
  font-family: 'Lobster Two', cursive;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "info"
    "listing"
    "footer";
}

@media (min-width: 500px) {
  /*.wrapper {
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      "header     header"
      "nav        nav"
      "info       info"
      "listing    listing"
      "site-three site-four"
      "footer     footer";
  }*/
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}